.leftside {
    width: 48%;
    height: 95%;
    padding: 20px;
    padding-bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inputContainer{
   padding: 5px;
   border-radius: 5px;
   display: flex;
   align-items: center;
    background-color: aliceblue;
    width: 25vw ;
    height: 7vh ;
    justify-content: space-between;
    
  }
 .submit-button{
    height: 5vh;
 }
 
 .maintext{
   font-size: 32px;
   width: 24vw;
   text-align: left;
   font-weight: 100;
   color: rgb(135,135,135);
   margin-bottom: 10vh;
 }
 .cityname{
   font-size: 15px;
   height: 10px;
   color: rgb(135,135,135);
   margin-left: 3px;
   padding: 5px;

 }
 .container{
   display: flex;
   flex-direction: column;
   align-items: flex-start;


 }
 input{
   border: none;       
  padding: 0;          
  margin: 0;           
  background: none;    
  font: inherit;       
  color: inherit;      
  outline: none;       
  margin-left: 4px;
  color: rgb(135, 135, 135);
 }
 button{
   margin-right: 10px;
   background-color: green;
   color: aliceblue;
   border-radius: 5px;
   border: 0px;
   padding: 6px;
   padding-left: 8px;
   padding-right: 8px;
 }
 button:hover{
   background-color: rgb(66, 104, 9) ;
   cursor: pointer;

 }
 .pressed{
   background-color: gray;
  }
  .pressed:hover{
  background-color: gray;
  cursor: default;
}
  @media  (max-width: 768px) {
 
 .leftside{
   width: 80%;
   height: 60vh
 }
 .maintext{
   width: 72vw;
 }
 .inputContainer{
   width: 72vw;
 }
  }
  @media  (max-width: 929px) {
    .inputContainer{
      width: max-content;
    }
  }